@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inconsolata&family=Poppins&display=swap');

:root{
    --primary-color: #191D88;
    --secondary-color: #FFC436;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
body{
    background-color: var(--primary-color);
}

.profile {
    height: 5%;
    width: 5%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: var(--primary-color);
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    margin: 10px;
    transition: all ease-in-out 0.3s;
}

nav ul li a::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--secondary-color);
    transition: 0.3s ease-in;
}


nav ul li a:hover{
    color: var(--secondary-color);
}

nav ul li a:hover::after{
    width: 100%; 
}

/* MAINSECTION */
.info{
    width: 100%;
    display: flex;
}

.details{
    width: 50%;
}

.details p{
    color: #fff;
    position: relative;
    top: 35%;
    left: 35%;
    font-size: 35px;
}

.details a{
    padding: 14px;
    background-color: var(--secondary-color);
    position: relative;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    top: 40%;
    left: 35%;
}

 .details span{
    color: var(--secondary-color);
 }

.profile_img{
    width: 50%;
    height: auto;
}

.profile_img img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
}

/* MAINSECTION */

